* {
  margin: 0px;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
header {
  background-color: rgb(255, 248, 243);
  padding-top: 40px;
}

/* header-navmenu-style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 230px;
}

ul {
  display: flex;
  align-items: center;
}

ul li {
  list-style: none;
  padding-left: 51px;
}

ul li a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.logo {
  font-size: 45px;
  font-weight: 800;
  line-height: 61px;
}

.logo-single-word {
  color: rgb(253, 110, 10);
}

.nev-btn {
  border-radius: 5px;
  background: rgb(253, 110, 10);
  width: 150px;
  height: 64px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  border-style: none;
}

.nev-btn:hover {
  background: rgb(124, 52, 0);
}
/* header-navmenu-style */

/* ==================================================
===================================================== */

/* hero section */

.hero {
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  margin: 0 0 0 23px;
}
.text-hero {
  max-width: 585px;
}
.hero-div {
  display: flex;
  align-items: center;
  margin: 0 40px 0 230px;
  justify-content: space-between;
}
.wlcm-text {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
  line-height: 61px;
}

.hero-mainfont {
  color: rgb(24, 24, 24);
  font-size: 85px;
  font-weight: 700;
  line-height: 116px;
}

.hero-pera {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 30px 0;
}
/* hero section */

/* about us section */
.about {
  background-color: #fff8f3;
  max-width: 1140px;
  margin: 130px auto;
  padding: 130px 155px;
  border-radius: 10px;
}

.sub-about {
  display: grid;
  gap: 30px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.section-titel {
  color: rgb(24, 24, 24);
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.discripsiton {
  color: rgb(117, 117, 117);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.address {
  display: flex;
  justify-content: space-around;
}

.address-cart {
  justify-items: center;
}

.address-pera {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.address-titel {
  color: rgb(117, 117, 117);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
/* about us section */
